body {
	background: #20002c;
	color: #c2c503;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: #009191;
}

a:hover {
	color: #007979;
}

header, footer {
	border: 1px solid #989b04;
	padding: 0.25em 1.25em;
}