/* There are some styles for this in bodyStyles.css as well (shared with the header) */

footer {
	border-top: none;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	margin-top: 2em;
	padding-top: 0; /* overwriting setting for top and bottom in bodyStyles.css */
}

footer p {
	margin: 0.5em auto;
	font-size: larger;
}

#profileLinksList {
	list-style-type: none;
	padding-left: 0.5em;
	margin: 0.5em auto;
}