main label {
	font-weight: bold;
}

main div {
	margin: 0.25em auto;
}

/* Overwrite the above for 1st level of divs */
main > div {
	margin: 1em auto;
}

main textarea {
	width: 100%;
	padding: 0;
	resize: none;
}